extends layouts/main

block content
    .container.flex.flex-col.justify-center.mx-auto
        form(action=`/toilets${routes.add}`, method="post", class="flex-col mx-auto justify-center align-center")
            .input-title
                label(for="title") 화장실명: 
                input(type="text", id="title" name="title", placeholder="화장실명을 적어주세요")
            .input-time
                label(for="start-time") 개방시간:         
                input(id="start-time", type="time", value="09:00")
                span ~
                input(id="end-time", type="time", value="18:00")
            .input-lat-long
                label(for="latitude") 위도, 경도: 
                input(type="text", id="latitude" name="latitude", placeholder="위도")
                input(type="text", id="longitude" name="longitude", placeholder="경도")
                .map(id="map")
            .input-submit
                input(type="submit", value="제출하기")

    button(id="myLoc") 내위치