extends layouts/main
block content
    .comment-container(class="flex justify-center items-center")
        .commnet-avatar
            img(src=`/${loggedUser.avatarUrl}`, class="w-16 rounded-full")                
        .comment-input
            form(class="w-full max-w-sm")
                div(class="flex items-center border-b-2 border-teal-500 py-2")
                    input(class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="댓글 추가")
                    button(class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button") 댓글
                    button(class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button") 취소
                
        
