extends layouts/main 

block content 
    .form-container(class="w-full flex flex-col justify-center items-center mt-10")
        form.form(action=`/users${routes.editProfile}`, method="post", enctype="multipart/form-data", class="flex flex-col justify-center items-start")
            .form-name
                label(class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="name") 이름
                input(type="text", placeholder="이름", name="name", id="name", value=loggedUser.name, class="appearance-none block w-auto bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500")
            .form-email
                label(class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="email") 이메일
                input(type="text", placeholder="이메일", name="email", id="email", value=loggedUser.email, class="appearance-none block w-auto bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500")
            .form-nickname
                label(class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="nickname") 닉네임
                input(type="text", placeholder="닉네임", name="nickname", id="nickname", value=loggedUser.nickname, class="appearance-none block w-auto bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500")
            .form-fileUpload
                label(for="avatar", class="block tracking-wide text-gray-700 text-xs font-bold mb-2") 프로필 사진
                input(type="file", id="avatar", name="avatar", accept="image/*" class="w-auto bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-10 leading-tight focus:outline-none focus:bg-white focus:border-gray-500")
            .form-btn
                input(type="submit", value="프로필 수정하기", class="cursor-pointer mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline")
                