extends layouts/main

block content
    if (loggedUser)
        h1 #{loggedUser.name}님 안녕하세요!
    .map(class="flex flex-wrap justify-center m-5")
        .map__container(id="googleMap-container" class="flex flex-col justify-center w-full")
            .googleMap(id="googleMap", class="h-500px w-full")
            button.findBtn(id="js-findToilet", class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer") 주변 화장실 찾기
        .map__detail(id="js-toiletDetail")
            h1(id="js-toiletName") 
            h1(id="js-toiletTime") 
            
            button.findBtn(id="js-findWay", class="invisible bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer") 길찾기
            a#js-commentAchor
                button.commentBtn(id="js-comment", class="invisible bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer") 한줄평

            
    
    
    
        