header.header
    ul 
        li 
            a(href=routes.home) 홈
        li 
            a(href=routes.toilets) 주변 화장실 보기 
        li 
            a(href=`/users${routes.userDetail}`) 프로필
        li
            a(href=`/toilets${routes.add}`) 화장실 추가