<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(type="text/javascript", src=`//dapi.kakao.com/v2/maps/sdk.js?appkey=${process.env.KAKAO_KEY}&libraries=services,clusterer`)
        script(src="//code.jquery.com/jquery-1.11.0.min.js")
        script(type="text/javascript", src="//d1l4stvdmqmdzl.cloudfront.net/3.9.6/mongoose.js")
        link(rel="stylesheet", href="static/styles.css")
        title #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")
